<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edu_touch.edu_hunt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDU_HUNT"
        tools:targetApi="n">
        <activity android:name=".Show_image"></activity>
        <activity android:name=".Teacher_detail" />
        <activity android:name=".Show_Teachers" />
        <activity android:name=".Payment" />
        <activity android:name=".Services" />
        <activity android:name=".Paymenthistory" />
        <activity android:name=".Notification" />
        <activity android:name=".Fees" />
        <activity android:name=".Confirmation" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Update" />
        <activity android:name=".Forgot" />
        <activity android:name=".Listing" />
        <activity android:name=".Home" />
        <activity android:name=".Phoneno" />
        <activity android:name=".otp" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>